@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Azeret Mono;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding:0px
}
/* header(banner)starts here */
.banner-container{
    width: 1920px;
    /* width: 1536px;*/
    /* width: 100%; */
    min-height: 600px; 
    background-image: url('./assets/Hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.banner-content{
    margin-top: 5px;
    width: 100%;
    /* height: 70%; */
    /* padding-left: 100px;*/
    margin-left: 150px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.banner-content img{
    margin-top: 40px;
}
.banner-content h1{
    /* padding:0px; */
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 30px;
    font-weight: 800;
    margin-top: 20px;
}
.banner-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    /* padding-left: 100px; */
    margin-top: 20px;
    
}
span{
    padding:300px;
}
.contact-btn{
    width: 250px;
    height: 120px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 20px 15px 20px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    margin-top: 15px;
}
/* main sections style starts here */
/* first section */
.section-container{
    /* border: 2px solid red; */
    position: absolute;
    width: 1500px;
    height: 1150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 30px 97px 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-top: 50px;
    align-items: center;
    margin-left: 250px;
    margin-bottom: 0;
}
.section-content1{
    /* border: 2px solid green; */
    position: static;
    width: 1500px;
    height: 100%;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* padding-left: 200px; */
    
}
.main-content{
    /* border: 2px solid magenta; */
    position: static;
    width: 852px;
    height: 170px;
}

.main-content h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}
.main-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
}
/* first div */
.first-div{
    /* border: 2px solid brown; */
    position: static;
    width: 1050px;
    height: 280px;
    margin-top: 48px;
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-left:0 ;
    margin-bottom: 20px;
    background-color:whitesmoke;
   
   
}
/* .first-div h5{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    position: static;
    width: 490px;
    height: 72px;
    
}

.first-div p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    position: static;
    width: 600px;
    height: 52px;
} */
.first-div p,
.second-div p,
.third-div p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    position: static;
    width: 600px;
    height: 52px; 

}
.first-div h5,
.second-div h5,
.third-div h5{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    position: static;
    width: 490px;
    height: 72px;

}
button{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 30px 20px 30px;
    margin-left: 0px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    
}
/* Second div */
.second-div{
    /* border: 2px solid brown; */
    position: static;
    width: 1050px;
    height: 280px;
    margin-top: 48px;
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-left:0 ;
    margin-bottom: 20px;
    background-color:whitesmoke;
    
   
}
.img2{
    margin-right: 100px;
}
.second-div button{
    margin-top: 30px;
}
/* Third div */
.third-div{
    /* border: 2px solid brown; */
    position: static;
    width: 1050px;
    height: 280px;
    margin-top: 48px;
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-left:0 ;
    background-color:whitesmoke;
   
}

